@using LegendaryBlog.Models;
@model IEnumerable<Post>
@{
    ViewBag.Title = "Index";
    bool IsPreviousLinkVisible = ViewBag.IsPreviousLinkVisible ?? false;
    bool IsNextLinkVisible = ViewBag.IsNextLinkVisible ?? false;
    bool isAdmin = ViewBag.IsAdmin ?? false;
}
@foreach (Post post in Model)
{
   @PostHelper.Render(post, Html, isAdmin, false);
}
@if(IsPreviousLinkVisible)
{
    <a id="perviousLink" href="@Href("~/Posts/Index/"+(ViewBag.PageNumber-1))">&lt;Pervious Page</a>
}
@if (IsNextLinkVisible)
{
    <a id="NextLink" href="@Href("~/Posts/Index/"+(ViewBag.PageNumber+1))">&gt;Next Page</a>
}