
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var dbContext = CustomHtmlHelper.GetDbContext();
    var listBlog = dbContext.Blogs.ToList();
}


@for (int i = 0; i < listBlog.Count; i++)
{
<div class="day">
    <div class="dayTitle">
        <a id="homepage1_HomePageDays_DaysList_ctl00_ImageLink" href="/home/blog/@listBlog[i].Id">@listBlog[i].AddTime.ToString()</a>
    </div>


    <div class="postTitle">
        <a id="homepage1_HomePageDays_DaysList_ctl00_DayList_TitleUrl_0" class="postTitle2" href="/home/blog/@listBlog[i].Id">@listBlog[i].Title</a>
    </div>
    <div class="postCon">
        <div class="cnblogs-post-body" id="postlist_postbody_6541934">
           @listBlog[i].Content
        </div>
        <script type="text/javascript">getBlogPostBody(6541934);</script>
    </div>
    <div class="clear"></div>
    <div class="postDesc"> 阅读(1) 评论(0) </div>
    <div class="clear"></div>

</div>
}