
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="~/Content/app.css" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/app.js"></script>
    <style type="text/css">
    </style>
    <title>一个传奇的博客-博文</title>
</head>
<body class="bg001" style="margin-top: 0px;margin-bottom: 0px;margin-right: 0px;margin-left: 0px;height: 100%">
    <div id="art1">
        <div id="art1_up">
            <img src="~/Content/img/0004%20.png" id="art1-up" />


        </div>
        <div id="art1_1">
            <img src="~/Content/img/home.png" id="art1-1" />


        </div>
        <div id="art1_2">
            <img src="~/Content/img/pen.png" id="art1-2" />


        </div>
        <div id="art1_3">
            <img src="~/Content/img/like.png" id="art1-3" />


        </div>
        <div id="art1_4">
            <img src="~/Content/img/male.png" id="art1-4" />


        </div>
        <div id="art1_down">
            <img src="~/Content/img/0005.png" id="art1-down" />


        </div>

    </div>
    <div>
        111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111
    </div>
</body>
</html>

