
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="~/Content/app.css" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/app.js"></script>
    <style type="text/css">
    </style>
    <title>一个传奇的博客-首页</title>
</head>
<body class="bg001" style="margin-top: 0px;margin-bottom: 0px;margin-right: 0px;margin-left: 0px;height: 100%;">
    <div id="d1">
        <div id="d01">
            <div id="d01_1">
                <span class="c01"> 传说中</span><br />


                <span class="c02"> 博客</span>
            </div>
            <div id="d01_2">的</div>

        </div>

        <div id="d02">
            <div id="d02_1">
                <img src="~/Content/img/home.png" style="float: left;" id="i01" />
                <div class="c03">首&nbsp;&nbsp;页</div>

            </div>
            <div id="d02_2">
                <img src="~/Content/img/pen.png" style="float: left;" />
                <div class="c03">文&nbsp;&nbsp;章</div>

            </div>
            <div id="d02_3">
                <img src="~/Content/img/like.png" style="float: left;" />
                <div class="c03">推&nbsp;&nbsp;荐</div>

            </div>
            <div id="d02_4">
                <img src="~/Content/img/male.png" style="float: left;" />
                <div class="c03">个&nbsp;&nbsp;人</div>

            </div>
            <div id="d02_5">
                <img src="~/Content/img/picasa.png" style="float: left;" />
                <div class="c03">更&nbsp;&nbsp;多</div>

            </div>
        </div>
    </div>
    <div id="d2">
        <div id="d03" style="overflow:hidden;">
            <div id="d03_1">
                <iframe src="like.html"
                        style="
                        height 575px;
                        width:830px;
                        margin-left:-80px;"
                        frameborder="no"
                        border="0"
                        marginwidth="0"
                        marginheight="0"
                        scrolling="no"
                        allowtransparency="yes"></iframe>
            </div>
            <div id="d03_2">
                <iframe src="Article"
                        style="
                        height 575px;
                        width:830px;
                        margin-left:-80px;
                        "
                        frameborder="no"
                        border="0"
                        marginwidth="0"
                        marginheight="0"
                        scrolling="no"
                        allowtransparency="yes"></iframe>
            </div>
            <div id="d03_3">
                <iframe src="like.html"
                        style="
                        height 575px;
                        width:830px;
                        margin-left:-80px;"
                        frameborder="no"
                        border="0"
                        marginwidth="0"
                        marginheight="0"
                        scrolling="no"
                        allowtransparency="yes"></iframe>
            </div>
            <div id="d03_4">
                <iframe src="me.html"
                        style="
                        height 575px;
                        width:830px;
                        margin-left:-80px;"
                        frameborder="no"
                        border="0"
                        marginwidth="0"
                        marginheight="0"
                        scrolling="no"
                        allowtransparency="yes"></iframe>
            </div>
            <div id="d03_5">
                <iframe src="more.html"
                        style="
                        height 575px;
                        width:830px;
                        margin-left:-80px;"
                        frameborder="no"
                        border="0"
                        marginwidth="0"
                        marginheight="0"
                        scrolling="no"
                        allowtransparency="yes"></iframe>
            </div>

        </div>
    </div>



</body>
</html>

